{% extends 'base2.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% load static %}

{% block login %}
    <div class="b-example-divider">
        <h1 class="text-center fst-italic">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bi bi-key "/>
            </svg>
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bi bi-shield-lock "/>
            </svg>
            "BIENVENIDO AL SISTEMA DE ALCOS FERRETERIA"
             <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bi bi-shield-lock "/>
            </svg>
      <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bi bi-key "/>
            </svg>
        </h1>

    </div>
    <div class="container d-flex align-items-center justify-content-center vh-100 py-5 fst-italic text-black bg-light ">
        <div class="row ">

            <div class="text-center ">
                <img class="mb-4" src="{% static 'loginalcos.jpeg' %}" alt="" width="300" height="300">
                <h5 class="justify-content-center">Por favor ingresar sus datos</h5>
            </div>


            <form class="fst-italic" method="post" action="{% url 'login' %}">

                {% csrf_token %}
                <div class="content container d-flex justify-content-center py-lg-3 ">
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </div>
                <div class="content container d-flex justify-content-center py-lg-3 ">
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </div>
                <div class="checkbox mb-3 content container d-flex justify-content-center ">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordar Contraseña
                    </label>
                </div>

                <div class="button d-flex justify-content-center">
                    <input type="submit" value="Ingresar"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
            <p class="content container d-flex justify-content-center py-lg-3"><a href="{% url 'password_reset' %}">Lost
                password?</a></p>

        </div>
    </div>
    <div class="b-example-divider"></div>
{% endblock %}