{% extends "base2.html" %}
{% block inicio %}

    <div class="b-example-divider ">
        <h1 class="text-center fst-italic">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bi bi-pin"/>
            </svg>
            "Listar Bodega Producto"

        </h1>
    </div>


    <div class="d-flex justify-content-between py-lg-4 fst-italic">
        <div>
            {#            left#}
            <a href='{% url 'crear_bodega_producto' %}' class="btn btn-primary btn-lg" type="button">
                <svg class="bi me-2" width="32" height="20">
                    <use xlink:href="#bi bi-plus-square-fill"/>
                </svg>
                Crear Bodega Producto </a>
        </div>

        <div>
            {#            right#}
            <form action="{% url 'consultar_bodega_producto' %}" method="post">
                {% csrf_token %}
                {{ productobusca.as_table }}
                <button type="submit">
                    <svg class="bi me-2" width="40" height="20">
                        <use xlink:href="#bi bi-search"/>
                    </svg>
                </button>

            </form>
        </div>
    </div>



    <div class="table-responsive fst-italic">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">Bodega</th>
                <th scope="col">Producto</th>
                <th scope="col">Existencial</th>
                <th scope="col">P. Compra</th>
                <th scope="col">P. Venta</th>
                <th scope="col">Stock Max.</th>
                <th scope="col">Stock Min.</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Fecha Modificacion</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            {% for bod in bodega_producto_ls %}
                {% if bod.estado == 1 %}
                    <tr>
                        <td> {{ bod.Bodega }} </td>
                        <td> {{ bod.Producto }} </td>
                        <td> {{ bod.cantidad_existencia }} </td>
                        <td> {{ bod.precio_compra }} </td>
                        <td> {{ bod.precio_venta }} </td>
                        <td> {{ bod.stock_maximo }} </td>
                        <td> {{ bod.stock_minimo }} </td>
                        <td> {{ bod.fecha_creacion | date }} </td>
                        <td> {{ bod.fecha_modificacion | date }} </td>
                        <td><a href='{% url 'modificar_bodega_producto' bod.id %}'>
                            <svg class="bi me-2" width="32" height="20">
                                <use xlink:href="#bi bi-pencil-square"/>
                            </svg>
                        </a></td>
                        <td><a href='{% url 'eliminar_bodega_producto' bod.id %}'>
                            <svg class="bi me-2" width="32" height="20">
                                <use xlink:href="#bi bi-trash"/>
                            </svg>
                        </a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}